*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://images.hdqwalls.com/download/beautiful-beach-sunset-4k-5r-1336x768.jpg');
    height: 150%;
    width: 90%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    display: block;
    justify-items: center;
}

.app-main{
    width: 60vh;
    height: 80vh;
    margin:   11vh auto;
    padding: 5vh;
    display: block;
    /* background-color: rgb(11, 152, 194); */
    
background: linear-gradient(to right, #ffffff84, #6dd4fa70, #297fb976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    border-radius: 5px;
    
}

.app-main *{
margin-bottom: auto;
border-radius: 20px;

}

#Input-box{
    width: 90%;
    height: 40px;
    background-color: rgb(255,255,255,0.6);
    border: none;
    outline: none;
    font: size 5rem;
    text-align: center;
    border-radius: 5px;
}

#input-box:focus {
    background-color: rgb(255, 255, 255);
}

.Weather-body{
    display: none;
    color: hsl(0, 0%, 99%);
    margin: 28px;
    padding: 15px;
    line-height: 2rem ;
    border-radius:10px ;
    /* background-color: rgb(255, 255,255); */
    opacity: 1.2;
    height: 60vh;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.location-details{
    font-weight: bold;
    font-size: 15pt;
}
.temp{
font-size: 50pt;
font-weight:700;
color: rgb(38, 39, 33);
margin: 50px 0;
text-shadow:2px 4px rgb(231, 219, 214) ;
}

.min-max, .Weather{
    font-size:15pt;
    font-weight: 600;
}
.logo {
    background: url("https://wallpapercave.com/wp/qQa5Pd7.jpg");
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: 50px;
  }